@{
    string setting = System.Web.Configuration.WebConfigurationManager.AppSettings["someAppSetting"];
}

<html>
<body>
    <h2>Hello World MVC</h2>
    <h3>someAppSetting: @(setting)</h3>
</body>
</html>

